body {
  margin: 0 auto;

  font-family: "Raleway", sans-serif;
  font-size: 14px;
  color: #6c7279;
  -webkit-font-smoothing: antialiased;

  background-color: #fff;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

p {
  margin: 0 0 10px;
}
/* Countainer
===============*/

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;

  overflow: hidden;
}

.container--background {
  background-color: #3a3e64;
}

/* Header
===============*/

.header {
  width: 100%;
  height: 100px;

  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
}

.header.fixed {
  position: fixed;
  height: auto;
  background-color: #1f3162;
}

.header.fixed .header__inner {
  padding: 15px 0;

  border-bottom: 0;
}

.header__inner {
  display: flex;
  justify-content: space-between;

  border-bottom: 1px solid #64677d;
  padding: 35px 0;
  align-items: center;
}

/* Nav
===============*/

.nav {
  display: flex;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
}

.nav_link {
  color: #fff;
  text-decoration: none;
  margin-left: 50px;
  opacity: 75%;
  transition: opacity 0.1s linear;
}

.nav_link:first-child {
  margin-left: 0;
}

.nav_link:hover {
  opacity: 100%;
}

/* Intro
===============*/

.intro {
  height: 750px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  background: #1f3162 url("img/activebox_fon.jpg") center no-repeat;
  background-size: cover;

  padding-top: 100px;
}

.intro__inner {
  max-width: 970px;
  width: 100%;
  text-align: center;
  margin: auto;
}

.intro_h1 {
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  font-size: 65px;
  color: #fff;
  font-weight: 700;
  line-height: 71px;
  margin: 0 0 30px;
}

.intro_h2 {
  font-family: "Raleway", sans-serif;
  font-size: 22px;
  color: #fff;
  line-height: 33px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 81px;
}

/* Button
===============*/

.btn {
  display: inline-block;
  vertical-align: top;

  font-size: 13px;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  padding: 16px 54px;

  border-radius: 3px;
  border: 0;
  cursor: pointer;
  font-family: "Raleway", sans-serif;

  transition: background 0.1s linear;
}

.btn--red {
  background-color: #e84545;
}

.btn--red:hover {
  background-color: #e51a1a;
}

.btn--long {
  min-width: 280px;
}

/* Features
===============*/

.features {
  display: flex;
  margin: 100px 0;
  flex-flow: wrap;
}

.features__item {
  width: 33.33333%;
  text-align: center;
  padding: 0 40px;
  margin: 25px 0;
}

.features__icon {
  margin-bottom: 35px;
}

.features__title {
  font-family: "Raleway", sans-serif;
  color: #000000;
  text-transform: uppercase;
  margin: 0 0 25px;
  font-size: 14px;
}

.features__text {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  color: black;
  font-size: 14px;
  line-height: 21px;
}

/* Works
===============*/

.works {
  display: flex;
  flex-wrap: wrap;
}

.works_item {
  width: 25%;
  position: relative;
  overflow: hidden;
  height: 350px;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
}

.works__photo {
  min-width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate3d(-50%, -50%, 0);
}

.works__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;

  opacity: 0%;
  transition: opacity 0.1s linear;

  background-color: rgba(232, 69, 69, 0.9);

  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.works__content:hover {
  opacity: 100%;
}

.works__titles {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
  margin: 10px 0;
}

.works__text {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  color: white;
  margin: 0;
}

/* Team
===============*/

.team {
  margin: 70px 0;
}

.team__inner {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.team__item {
  width: 25%;
  padding: 0 15px;
  margin-bottom: 30px;
}

.team__photo {
  display: block;
  max-width: 100%;
  height: auto;
}

.team__title {
  font-family: "Raleway", sans-serif;
  font-size: 22px;
  color: #2d3033;
  font-weight: 400;
  margin: 30px 0 8px 0;
}

.team_subtitle {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 13px;
  color: #e84545;
  line-height: 21px;
  margin: 0 0 20px;
}

.team_text {
  margin-bottom: 33px;
}

/* Social
===============*/

.social {
  display: flex;
}

.social__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 1px solid #e8ecee;
  margin-left: 4px;
  transition: background 0.1s linear;
  background: #fff;
}

.social--foother {
  justify-content: center;
}

.social--foother .social__item {
  background: none;
  border: 3px solid #e8ecee;
  color: white;
  border-radius: 3px;
}

.social__item:first-child {
  margin-left: 0;
}

.social__item:hover {
  background-color: #e8ecee;
}

.social__item:hover .social__icon {
  fill: #000;
}

.social__icon {
  display: block;
  height: 18px;
  fill: #c6cacc;

  transition: fill 0.1s linear;
}

.social--foother .social__icon {
  fill: white;
}

.socialicon--color {
  fill: #3a3e64;
}

/* Reviews
===============*/

.reviews {
  background-color: #53354a;
  overflow: hidden;
}

.reviews__item {
  display: flex;
  flex-wrap: wrap;
}

.review__photo {
  width: 50%;
  height: 500px;
  position: relative;
}

.reviews__img {
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 1;

  transform: translateY(-50%);
}

.reviews__content {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
  padding-left: 80px;
}

.reviews__text {
  margin-bottom: 25px;
  font-family: "Cardo", serif;
  font-size: 36px;
  font-style: italic;
  line-height: 1.2;
  color: #fff;
}

.reviews__author {
  font-size: 13px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
}

/* Download
===============*/

.download {
  margin: 95px 0;
}

.download__inf {
  text-align: center;
}

.download__title {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 28px;
  color: #2d3033;
  margin: 0;
  margin-bottom: 15px;
}

.download__comment {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 13px;
  color: #2d3033;
  margin-bottom: 40px;
  text-transform: uppercase;
}

/* Foother
===============*/

.foother {
  padding: 70px 0 107px;
  background-color: #3a3e64;
}

.foother__inner {
  display: flex;
  flex-wrap: wrap;
}

.foother__block {
  width: 33.33333%;
  text-align: center;
  padding: 0 15px;
}

.foother__title {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
}

.foother__address {
  font-style: normal;
  color: #fff;
  opacity: 50%;
}

.foother__text {
  font-style: normal;
  color: #fff;
  opacity: 50%;
  text-align: 22px;
}

/* Copyrights
===============*/

.downfoother {
  background-color: #313454;
  padding: 30px 0;
}

.downfoother__item {
  justify-content: center;
  text-align: center;
}

.downfoother__text {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 12px;
  color: #fff;
}

.downfoother__textopacity {
  opacity: 50%;
}

.heart__color {
  color: red;
}

/*Burger*/
.burger {
  display: none;
  padding: 9px 2px;

  background: none;
  border: 0;
  cursor: pointer;
}

.burger__item {
  display: block;
  width: 30px;
  height: 3px;
  opacity: 75%;

  background-color: #fff;

  font-size: 0;
  color: transparent;

  position: relative;
}

.burger__item:before,
.burger__item:after {
  content: "";
  width: 100%;
  height: 100%;

  background-color: #fff;

  position: absolute;
  left: 0;
  z-index: 1;
}

.burger__item:before {
  top: -8px;
}

.burger__item:after {
  bottom: -8px;
  height: 3px;
}

/* Media
===============*/
@media (max-width: 1300px) {
  /*    Works    */
  .works_item {
    width: 50%;
  }
}

@media (max-width: 991px) {
  /*Intro*/
  .nav {
    display: none;
  }

  .burger {
    display: block;
  }

  /*Intro*/
  .intro_h1 {
    font-size: 40px;
    line-height: 50px;
  }

  .intro_h2 {
    font-size: 20px;
  }

  /*  Features   */

  .features__item {
    width: 50%;
  }

  /*    Team   */
  .team__item {
    width: 50%;

    text-align: center;
  }

  .team__photo {
    margin-left: auto;
    margin-right: auto;
  }

  .team_text {
    margin-left: 40px;
    margin-right: 40px;
  }

  /*  Social   */
  .social {
    justify-content: center;
  }

  /*   Reviews   */

  .review__photo {
    display: none;
  }

  .reviews__content {
    width: 100%;
    margin: 30px 10px;
    text-align: center;
    padding-left: 0;
  }

  .reviews__text {
    font-size: 25px;
  }

  .reviews__author {
    font-size: 13px;
  }
}

@media (max-width: 767px) {
  .intro {
    height: auto;
    padding-top: 150px;
    padding-bottom: 30px;
  }

  .intro_h1 {
    font-size: 30px;
    line-height: 40px;
  }

  .intro_h2 {
    font-size: 15px;
    margin-bottom: 35;
  }
  /*    Features    */
  .features {
    margin: 40px 0;
  }

  .features__item {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }

  /*    Works    */
  .works_item {
    width: 100%;
    height: 300px;
  }

  /*    Team   */

  .team {
    margin: 60px 0 30px;
  }

  .team__item {
    width: 100%;

    text-align: center;
  }

  .team__photo {
    margin-left: auto;
    margin-right: auto;
  }

  .team_text {
    margin-left: 60px;
    margin-right: 60px;
  }

  /*   Reviews   */

  .reviews__author {
    font-size: 9px;
  }

  /*Download*/
  .download {
    margin: 50px 0;
  }

  /*Foother*/

  .foother {
    padding: 25px 0 40px;
  }

  .foother__inner {
    margin-bottom: 10px;
  }

  .foother__block {
    margin-bottom: 30px;
    width: 100%;
  }
}

@media (max-width: 656px) {
  /*Download*/
  .download__title {
    font-size: 20px;
  }

  .download__comment {
    font-size: 9px;
    margin-bottom: 25px;
  }

  .btn {
    font-size: 10px;
  }

  .btn--long {
    min-width: 150px;
  }
}
